---
import CodeBlock from "@components/CodeBlock.astro";
import Timesheet from "@components/react/Timesheet";
import { defaultSettings } from "@lib/time";
import defaultTimetracker from "@lib/client/defaultTimetracker.json";

---

<html lang="en" class="dark bg-background text-foreground">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Time Tracker</title>
        <script>
            let isDarkMode = true;

            if (typeof window !== 'undefined') {
                console.log("window not defined");
                isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
                if (isDarkMode) {
                    document.body.classList.remove("light");
                    document.body.classList.add("dark");
                } else {
                    document.body.classList.remove("dark");
                    document.body.classList.add("light");
                }
            }
        </script>
    </head>
    <body>
        <main class="flex flex-col justify-center items-center  dark:text-white">
            <Timesheet punchCards={[]} settings={defaultSettings} client:load />
        </main>
    </body>
</html>
