---
import CodeBlock from "@components/CodeBlock.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Time Tracker</title>
	</head>
	<body>
		<h1>Time Tracker</h1>
		<main class="flex flex-col justify-center items-center">
			<CodeBlock divId="time-tracker-test">...</CodeBlock>
		</main>
		<script>
			import "@lib/client/test-timetracker";
		</script>
	</body>
</html>
